:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #f9fbe7;
  --palette-primary-100: #f0f4c3;
  --palette-primary-200: #e6ee9c;
  --palette-primary-300: #dce775;
  --palette-primary-400: #d4e157;
  --palette-primary-500: #cddc39;
  --palette-primary-600: #c0ca33;
  --palette-primary-700: #afb42b;
  --palette-primary-800: #9e9d24;
  --palette-primary-900: #827717;
  --palette-primary-A100: #f4ff81;
  --palette-primary-A200: #eeff41;
  --palette-primary-A400: #c6ff00;
  --palette-primary-A700: #aeea00;
}
